@using Microsoft.Extensions.Options
@using OrchardCore.Elsa.Designer.Components
@using OrchardCore.Elsa.Options
@using OrchardCore.Mvc.Core.Utilities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model OrchardCore.Elsa.Controllers.WorkflowDefinitions.Edit.EditViewModel
@inject IOptions<ElsaStudioBlazorOptions> BlazorOptions

@{
    var renderMode = BlazorOptions.Value.RenderMode;
    var isWebAssembly = BlazorOptions.Value.IsWebAssembly;
}

<div class="elsa-studio-component-wrapper workflow-definition-editor">
    <!-- Manifest & fonts -->
    <link rel="manifest" asp-src="/OrchardCore.Elsa/_content/Elsa.Studio.Shell/site.webmanifest"/>
    <link rel="preconnect" asp-src="https://fonts.googleapis.com"/>
    <link rel="preconnect" asp-src="https://fonts.gstatic.com" crossorigin/>
    <link asp-src="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link asp-src="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet"/>
    <link asp-src="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet"/>
    <link asp-src="https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap" rel="stylesheet"/>

    <!-- RCL static assets (always from root /_content) -->
    <link asp-src="/_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <link asp-src="/_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css" rel="stylesheet"/>
    <link asp-src="/_content/Radzen.Blazor/css/material-base.css" rel="stylesheet"/>
    <link asp-src="/_content/Elsa.Studio.Shell/css/shell.css" rel="stylesheet"/>

    <!-- Blazor component -->
    <component type="typeof(WorkflowEditorOrInstanceWrapper)"
               render-mode="@renderMode"
               param-RemoteEndpoint="@Url.ToAbsoluteUrl("~/elsa/api")"
               param-DefinitionId="@Model.DefinitionId"/>

    <!-- Error UI -->
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <!-- Monaco & supporting scripts -->
    <script at="Foot" depends-on="monaco, admin" asp-name="elsamonaco">
        require(['vs/editor/editor.main'], function () { /* Monaco loaded */
        });
    </script>
    <script asp-src="/_content/BlazorMonaco/jsInterop.js" at="Foot" depends-on="elsamonaco"></script>
    <script asp-src="/_content/MudBlazor/MudBlazor.min.js" at="Foot"></script>
    <script asp-src="/_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js" at="Foot"></script>
    <script asp-src="/_content/Radzen.Blazor/Radzen.Blazor.js" at="Foot"></script>

    @if (isWebAssembly)
    {
        <!-- Bootstrap the WASM runtime from the host application -->
        <script src="/_framework/blazor.webassembly.js" autostart="false"></script>
        <script at="Foot">
            document.addEventListener('DOMContentLoaded', function () {
                Blazor.start({
                    loadBootResource: function (type, name, defaultUri, integrity) {
                        // Ensure all _framework resources are loaded from the root
                        if (defaultUri.startsWith('_framework/')) {
                            return `/${defaultUri}`;
                        }
                        return defaultUri;
                    }
                });
            });

            window.onWorkflowDefinitionExecuted = function (workflowInstanceId) {
                window.location.href = `/Admin/ElsaWorkflows/WorkflowInstances/Details/${workflowInstanceId}`;
            };
        </script>
    }
    else
    {
        <script src="/_framework/blazor.server.js"></script>
        <script at="Foot">
            window.onWorkflowDefinitionExecuted = function (workflowInstanceId) {
                window.location.href = `/Admin/ElsaWorkflows/WorkflowInstances/Details/${workflowInstanceId}`;
            };
        </script>
    }
</div>