<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
    	<clear/>
    	<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="Orchard Core Preview Feed" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
        <add key="Elsa Preview Feed" value="https://www.myget.org/F/elsa-2/api/v3/index.json" />
    </packageSources>
</configuration>