<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
    	<clear/>
    	<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="Orchard Core Preview" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
        <add key="Elsa Preview Feed" value="https://f.feedz.io/elsa-workflows/elsa-3/nuget/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="NuGet">
            <package pattern="*" />
        </packageSource>
        <packageSource key="Elsa Preview Feed">
            <package pattern="Elsa" />
            <package pattern="Elsa.*" />
            <package pattern="Elsa.Studio.*" />
        </packageSource>
        <packageSource key="Orchard Core Preview">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>