/************************************
Overrides to play nice with TheAdmin.
*************************************/
.ta-navbar-brand img {
    display: inline;
}

.x6-graph-scroller {
    background: #ffffff;
}

html[data-theme] elsa-studio a {
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

html[dir][data-theme] elsa-studio a:hover {
    text-decoration: none;
}

html[data-theme] elsa-studio .tw-text-gray-700 {
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

html[data-theme] elsa-studio .tw-text-gray-900 {
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

html[dir][data-theme] elsa-studio button.elsa-btn {
    border-radius: 0.375rem;
    margin-top: 0.5rem;
}

html[dir][data-theme] elsa-studio button.tw-rounded-l-md {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

html[dir][data-theme] elsa-studio button.tw-rounded-r-md {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

html[dir][data-theme] elsa-studio .tw-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

html[dir][data-theme] elsa-studio .tw-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

html[dir][data-theme] elsa-studio .tw-text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

html[dir][data-theme] elsa-studio .tw-text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

html[dir][data-theme] elsa-studio .tw-font-medium {
    font-weight: 500;
}

html[dir][data-theme] elsa-studio .tw-text-gray-500 {
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

html[dir][data-theme] elsa-studio input[type=text],
html[dir][data-theme] elsa-studio input[type=email],
html[dir][data-theme] elsa-studio input[type=tel],
html[dir][data-theme] elsa-studio textarea {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #000000;
}