@model WorkflowInstanceViewModel

<style asp-name="ElsaStudioReset"
       asp-src="~/Elsa.OrchardCore.Module/oc-elsa.css"
       depends-on="admin">
</style>

<style asp-name="ElsaStudio"
       asp-src="~/Elsa.OrchardCore.Module/elsa/dist/oc-elsa/elsa-workflows-designer.css"
       depends-on="admin">
</style>

<style asp-name="InterFont"
       asp-src="https://rsms.me/inter/inter.css"
       debug-src="https://rsms.me/inter/inter.css">
</style>

<script asp-name="ElsaStudio"
        asp-src="~/Elsa.OrchardCore.Module/elsa/dist/oc-elsa/oc-elsa.esm.js"
        type="module"
        at="Foot">
</script>

<zone Name="Title"><h1>@RenderTitleSegments(Model.WorkflowDefinition.Name)</h1></zone>

<oc-elsa-instance-viewer server-url="@Model.ServerUrl" instance-id="@Model.WorkflowInstance.Id"></oc-elsa-instance-viewer>