@model DashboardViewModel

<style asp-name="elsa-inter" asp-src="/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/assets/fonts/inter/inter.css"></style>
<style asp-name="elsa-tailwind" asp-src="/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/assets/styles/tailwind.css"></style>
<script asp-name="monaco" depends-on="admin" at="Head"></script>
<script at="Head" asp-src="/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/elsa-workflows-studio.esm.js" type="module"></script>

<h1>@RenderTitleSegments(T["{0} Dashboard", Model.WorkflowServer.Name])</h1>

<div class="h-screen" style="background-size: 30px 30px; background-image: url(/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/assets/images/tile.png); background-color: #FBFBFB;">
<elsa-studio-root server-url="@Model.WorkflowServer.Url" monaco-lib-path="~/OrchardCore.Resources/Scripts/monaco"></elsa-studio-root>
</div>