<style asp-src="~/Elsa.OrchardCore/bundle.css"></style>
<script defer src="/Elsa.OrchardCore/bundle.js" at="Head"></script>

<h1>@RenderTitleSegments(T["Create Workflow"])</h1>

<div id="workflow-designer-host">
</div>